<div id="content-wrapper" class="d-flex flex-column mt-3">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">User table</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary"
                    style="width: 100%;">Add item</button>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Category ID</th>
                                    <th>Category name</th>
                                    <th>Function</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each product}}
                                <tr>
                                    <td>
                                        {{this._id}}
                                    </td>
                                    <td>
                                        {{this.name}}
                                    </td>
                                    <td class="text-center"><img style="width: 75px; height: 75px" src="img/{{this.image}}"
                                            alt=""></td>
                                    <td>
                                        {{this.price}}
                                    </td>
                                    <td>
                                        {{this.description}}
                                    </td>
                                    <td>
                                        {{this.categoryId}}
                                    </td>
                                    <td>
                                        {{this.categoryName}}
                                    </td>
                                    <td class="d-flex justify-content-around">
                                        <a href="/adminproduct/update">
                                            <i style="color:#999" class="fa fa-wrench fa-lg function"
                                                aria-hidden="true"></i>

                                        </a>
                                        <a href="/adminproduct/delete" data-id="{{this._id}}" class="delete-btn">
                                            <i style="color:#999" class="fa fa-trash fa-lg function"
                                                aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/adminproduct/create" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input name="name" type="text" class="form-control" id="exampleInputEmail"
                                placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input name="image" type="file" class="form-control" id="exampleInputPassword"
                                placeholder="Image">
                        </div>
                        <div class="form-group">
                            <input name="price" type="text" class="form-control" id="exampleInputPassword"
                                placeholder="Price">
                        </div>
                        <div class="form-group">
                            <input name="description" type="text" class="form-control" id="exampleInputPassword"
                                placeholder="Description">
                        </div>
                        <div class="form-group">
                            <input name="category_id" type="text" class="form-control" id="exampleInputPassword"
                                placeholder="Category ID">
                        </div>
                        <div class="form-group">
                            <input name="category_name" type="text" class="form-control" id="exampleInputPassword"
                                placeholder="Category name">
                        </div>
                        <button name="addProduct" type="submit" class="btn btn-primary mt-2">Submit</button>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>